<%= @game.masked_word %>

<%= form_for [@game, @guess] do |g| %>
  <%= g.text_field :letter %>
<% end %>

<p>
	<b>Hint:</b>
	<%= @game.word.meaning %>
	<b> Score: </b>
	<%= @game.plays[0].score%>
	<% if @game.guesses.count >=3 %>
	<br/>
	<b>Guess the word!</b>
	<% end %>
</p>

<p>
  <b>Guesses:</b>
  <ul>
    <% @game.guesses.each do |guess| %>
      <li><%= guess.letter %></li>
    <% end %>
  </ul>
</p>