= @game.masked_word

- if @game.complete?
  %p
    This game is complete!
    - if @game.winner
      #{@game.winner} was the winner.
    - else
      Nobody won this game!
- else
  - if current_user == @game.current_player
    %p
      - if @game.final_round?
        %b You must guess the word!

    = form_for [@game, @guess] do |g|
      = g.text_field :letter

    %p
      %b Hint:
      = @game.word.meaning

    - if @game.bonus_round?
      %p
        %b Bonus round!
  - else
    %p
      It's currently the other player's turn.

- @game.users.each do |user|
  %div{:style => "float:left;width: 50%;"}
    %h3= user
    %p
      Current score: #{@game.play_for(user).score}

    %p
      %b Guesses:
      %ul
        - @game.guesses.by(user).each do |guess|
          %li
            = guess.letter
            - if guess.hit
              (correct; +#{@game.bonus_round? ? 2 : 1})
            - else
              (incorrect; -#{@game.bonus_round? ? 2 : 1})
